
<div class="add_event">

  <form action="javascript:add_event_click();">
    <div class="input_time">
      <label>When </label>
      <input type="text" name="add_start_time" value = ""/>
      <a> to </a>
      <input type="text" name="add_end_time" value = ""/>
      <br />

      <label>What </label>
      <input type="text" name="title"/>
      <br />

      <label>Calendar </label>
      <input type="text" name="calendar"/>
      <br />


      <input type="submit" name="submit"/>
      <button id="add_submit">add submit</button>
    </div>
  </form>
</div>

<div class="filtered_events"></div>









<!--
<%= select_time Time.now, :prefix => :start_time %>
<br />
<%= select_time Time.now+3600, :prefix => :end_time %>
<br />
-->
