
<div class="add_event">

  <form class="add_form">
    <div class="input_general">
      <label>When </label>
      <input type="text" name="add_start_time" value = ""/>
      <a> to </a>
      <input type="text" name="add_end_time" value = ""/>
      <br />

      <label>What </label>
      <input type="text" name="what"/>
      <br />

      <label>Calendar </label>
      <input type="text" name="calendar"/>
      <br />

      <label>Add friends </label>
      <input type="text" name="friends" value = ""/>
      <br />


    </div>
    <div class="input_detail">
       <label>Where </label>
       <input type="text" name="where" value = ""/>
       <br />
       <label>Description </label>
       <input type="text" name="description" value = ""/>
       <br />
       <label>Privacy </label>
       <input type="text" name="privacy" value = ""/>
       <br />
       <label>All day? </label>
       <input type="text" name="all_day" value = ""/>
       <br />
       <label>repeat? </label>
       <input type="text" name="repeat" value = ""/>
       <br />
       <label>On days </label>
       <input type="text" name="privacy" value = ""/>
       <br />
       <label>On months </label>
       <input type="text" name="privacy" value = ""/>
       <br />
       <label>On years </label>
       <input type="text" name="privacy" value = ""/>
       <br />
       <label>Email Notification </label>
       <input type="text" name="privacy" value = ""/>
       <br />
       <label>Popup Notification </label>
       <input type="text" name="privacy" value = ""/>
       <br />

    </div>

    <button id="add_submit">add submit</button>

  </form>
</div>




<!--
<%= select_time Time.now, :prefix => :start_time %>
<br />
<%= select_time Time.now+3600, :prefix => :end_time %>
<br />
-->
