
<% for i in 0..((@slot_names.length-1)/2) %>
  <div class="hour_slot_class" hour_slot="<%= i %>"> 
    <% j = i*2 %>
    <div class="time_sign_hour">
       <%= @slot_names[j] %>
    </div>
    <div class="event_slot">
    <% [0,0.5].each do |half_slot| %>


      <div class="half_hour_slot" half_slot="<%= half_slot+i %>">
      </div>

      <% j += 1 %>
    <% end %>
    </div>

  </div>
<% end %>


<h3>my events</h3>





<script>

$('.schedule').css("height", (window.innerHeight-100));
$('.sub_right_half').css("height", (window.innerHeight-100));





</script>
